* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'font-one';
  src: url('../lte50338.ttf');
}

@font-face {
  font-family: 'font-two';
  src: url('../lte50346.ttf');
}

html {
  margin: 0;
  padding: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: url('../images/oba-buiten.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 80vw;
  margin: 0 auto;
  font-family: 'Avenir', sans-serif;
}

main {
  padding: 2rem;
  padding-top: 1rem;
}

a {
  color: #ff0000;
}

/* header */
header > h1 {
  padding-left: 2rem;
  color: #ff0000;
  font-size: 3em;
  font-family: 'font-two', 'Avenir', sans-serif;
  margin-bottom: 0;
}

header > h1:nth-of-type(2) {
  color: rgb(0, 155, 150);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header > h1 > span {
  display: inline-block;
  transform: rotate(-90deg) translateY(-0.1em) translateX(-0.1em);
  font-family: 'font-two', 'Avenir', sans-serif;
}

/* dropdown */
label {
  font-size: 2vmin;
}

select {
  border: 0.1em solid black;
  border-radius: 0.3em;
  padding: 0.1em;
  font-family: 'Avenir', sans-serif;
  font-size: 1.8vmin;
}

/* sections */
section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 5em;
}

section::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}
section::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0.8em;
}
section::-webkit-scrollbar-track {
  background: transparent;
}

section article {
  min-width: 40vmin;
  max-height: 80vmin;
  overflow-y: scroll;
}

p:first-of-type {
  font-size: 2vmin;
  margin-bottom: 2em;
}

article + article {
  margin-left: 1rem;
}

article img {
  height: 45vmin;
  width: 35vmin;
}

article > p:first-of-type {
  margin-bottom: -0.5em;
  font-variant-caps: small-caps;
}

article > h2 {
  color: rgb(0, 155, 150);
  font-size: 2.5vmin;
  width: 90%;
  font-family: 'font-two', 'Avenir', sans-serif;
}

article > div > p,
article > div > a {
  font-size: 2vmin;
}

.hideDiv {
  display: none;
}

#thickness {
  font-style: italic;
}

/* loading state */
.loading {
  display: none;
  position: absolute;
  top: 60vmin;
  left: 40vw;
  font-size: 2em;
}

.loading-true {
  display: block;
}

.loading-ring {
  display: inline-block;
  width: 5em;
  height: 5em;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border-radius: 50%;
  border: 0.4em solid #d9574e;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* button more info */
#info {
  margin: 1em 0;
  padding: 0.7em;
  background: black;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 2vmin;
}
