* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Trebuchet MS';
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: white;
  max-width: 50em;
  margin: 0 auto;
  font-family: 'Avenir', sans-serif;
}

main {
  padding: 2rem;
}

header > h1 {
  padding-left: 2rem;
  color: #ff0000;
  font-size: 3em;
}

header > h1 > span {
  display: inline-block;
  transform: rotate(-90deg);
}

section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

article + article {
  margin-left: 1rem;
}

article img {
  height: 20rem;
}

.hideDiv {
  display: none;
}

article > h2 {
  font-size: 1em;
  width: 25vmin;
}

section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
section::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
section::-webkit-scrollbar-track {
  background: transparent;
}

/* loading state */
.loading {
  display: none;
  position: absolute;
  top: 50vmin;
  left: 45vw;
  font-size: 2em;
}

.loading-true {
  display: block;
}

.loading-ring {
  display: inline-block;
  width: 5em;
  height: 5em;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border-radius: 50%;
  border: 0.4em solid #d9574e;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: block;
}
